* {
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.wrapper {
  min-height: 100vh;
}
.fullvideo {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullvideo__title {
  position: relative;
  z-index: 10;
  color: white;
  font-size: 400px;
}
.fullvideo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.movies {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
